.DS_Store

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
# Webpack folder
.webpack

stages/*.yml
!stages/sample.*.yml
config/*.yml
!config/sample.*.yml
!config/iamRoleStatements.yml

# Python
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
lib/*
!lib/config.js
*.egg-info/
.installed.cfg
*.egg
__pycache__
bin/
include/
share/
pip-selfcheck.json

# Apple
.DS_Store
