.DS_Store

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
# Webpack folder
.webpack

stages/*.yml
!stages/sample.*.yml
config/*.yml
!config/sample.*.yml
!config/iamRoleStatements.yml

# Apple
.DS_Store
